<h1>Clubs Liste</h1>

<div>
    <table>
        <tr>
            <th class="sortButtonClass" ng-click="clubSort()">Clubname</th>
            <th class="sortButtonClass" ng-click="clubSort()">Stadionname</th>
            <th class="sortButtonClass" ng-click="clubSort()">Trainer</th>
            <th class="sortButtonClass"></th>
        </tr>
        <tr ng-repeat="club in clubs">
            <td>{{club.clubname}}</td>
            <td>{{club.stadionname}}</td>
            <td>{{club.trainer}}</td>
            <td class="deleteButtonClass" ng-click="deleteClub(club.id)">Löschen</td>
        </tr>
    </table>

    <button ng-click="openAddNewClub()">New Club</button><br>

    <div ng-if="displayNewClubForm" class="openNewForm">
        <form>
            <div>Name:</div>
            <input type="text" ng-model="club.name"><br>
            <div>Stadion:</div>
            <input type="text" ng-model="club.stadionname"><br>
            <div>Trainer:</div>
            <input type="text" ng-model="club.trainer"><br>
            <div>
                <button ng-click="saveNewClub()">Save</button><br>
            </div>
            <button ng-click="seeNewClub()">Vorschau</button><br>
            <div ng-if="displayseeNewClubForm">
                <table>
                    <tr>
                        <td>{{club.name}}</td>
                        <td>{{club.stadionname}}</td>
                        <td>{{club.trainer}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
