<h1>Movie Liste</h1>

<div>
    <table>
        <tr>
            <th class="sortButtonClass" ng-click="moviesSort()">Filmname</th>
            <th class="sortButtonClass" ng-click="moviesSort()">Beschreibung</th>
            <th class="sortButtonClass" ng-click="moviesSort()">Regisseur</th>
            <th class="sortButtonClass"></th>
        </tr>
        <tr ng-repeat="movies in movie">
            <td>{{movies.filmname}}</td>
            <td>{{movies.beschreibung}}</td>
            <td>{{movies.regisseur}}</td>
            <td class="deleteButtonClass" ng-click="deleteMovie(movies.id)">Löschen</td>
        </tr>
    </table>

    <button ng-click="openAddNewMovie()">New Club</button><br>

    <div ng-if="displayNewMovieForm" class="openNewForm">
        <form>
            <div>Filmname:</div>
            <input type="text" ng-model="mov.filmname"><br>
            <div>Beschreibung:</div>
            <input type="text" ng-model="mov.beschreibung"><br>
            <div>Regisseur:</div>
            <input type="text" ng-model="mov.regisseur"><br>
            <div>
                <button ng-click="saveNewMovie()">Save</button><br>
            </div>
            <button ng-click="seeNewMovie()">Vorschau</button><br>
            <div ng-if="displayseeNewMovieForm">
                <table>
                    <tr>
                        <td>{{mov.filmname}}</td>
                        <td>{{mov.beschreibung}}</td>
                        <td>{{mov.regisseur}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>