<h1>Player Liste</h1>
<div>
    <table>
        <tr>
            <th class="sortButtonClass" ng-click="playerSort()">Name</th>
            <th class="sortButtonClass" ng-click="playerSort()">Alter</th>
            <th class="sortButtonClass" ng-click="playerSort()">Preis</th>
            <th class="sortButtonClass" ng-click="playerSort()">Clubname</th>
            <th></th>
        </tr>
        <tr ng-repeat="player in play">
            <td>{{player.name}}</td>
            <td>{{player.alter}}</td>
            <td>{{player.preis}}</td>
            <td>{{player.clubname}}</td>
            <td class="deleteButtonClass" ng-click="deletePlayer(player.id)">Löschen</td>
        </tr>
    </table>

    <button ng-click="openAddNewPlayer()">New Player</button><br>

    <div ng-if="displayNewPlayerForm" class="openNewForm">
        <form>
            <div>Name:</div>
            <input type="text" ng-model="player.name"><br>
            <div>Alter:</div>
            <input type="text" ng-model="player.alter"><br>
            <div>Preis:</div>
            <input type="text" ng-model="player.preis"><br>
            <div>Fussballclub:</div>
            <select ng-options="club as club.clubname for club in clubs track by club.id" ng-model="player.club">
                <!--<option ng-repeat="player in play" value="{{player.club_id}}">{{player.Clubname}}</option>-->
            </select>
            <div>
                <button ng-click="saveNewPlayer()">Save</button><br>
            </div>
            <button ng-click="seeNewPlayer()">Vorschau</button><br>
            <div ng-if="displayseeNewPlayerForm">
                <table>
                    <tr>
                        <td>{{player.name}}</td>
                        <td>{{player.alter}}</td>
                        <td>{{player.preis}}</td>
                        <td>{{club.id.clubname}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>